/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

article {
  color: #414141;
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 0 100px 50px;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.9;
  margin: 200px 0 30px;
}

p {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.125rem;
  line-height: 1.4;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

.lead {
  font-size: 1.3125rem;

}

.subtitle {
  font-size: 2.25rem;
  line-height: 1.3;
}

a {
  color: #CA5E10;
}
























